<h1>記録</h1>

<div class="form-container">
    <%= form_with(model: @workout, local: true) do |f| %>
        <div class="box-form">
            <%= render 'shared/error_messages', object: f.object %>

            <div class="field">
                <%= f.label :date, "日付", class: "form-label" %>
                <%= f.date_select :date, autofocus: true, class: 'form-content' %>
            </div> 

            <div class="field">
                <%= f.label :part, "部位", class: "form-label" %>
                <%= f.select :part, Workout.parts.keys.map {|k| [I18n.t("enums.workout.part.#{k}"), k]} %>
            </div>

            <div class="field">
                <%= f.label :content, "内容", class: "form-label" %>
                <%= f.text_area :content, autofocus: true, class: "form-content", placeholder: "例）15kg × 3セット" %>   
            </div>

            <div class="field">
                <%= f.label :memo, "メモ", class: "form-label" %>
                <%= f.text_area :memo, autofocus: true, class: "form-content", placeholder: "例）次は重量を上げて行う。" %>   
            </div>

            <div class="actions">
                <%= f.submit "記録" %>
            </div>
        </div>
    <% end %>
</div>
